.individual-project-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.github-links{
    display: flex;
    align-self: baseline;
    padding: 6px;
    border: 1px solid wheat;
    border-radius: 10px;
}

.github-links > a{
    display: flex;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
}

.github-links:hover{
    background-color: blueviolet;
    color: white;
    border: 1px solid blueviolet;
}

.col1{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 3em;
}

.row1{
    display: flex;
    flex-direction: row-reverse;
    gap: 10%;
    align-items: center;
    width: 80%;
}

.row2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.row2 > h4{
    font-size: 1.5em;
    width: 100%;
}

.row2 > p{
    font-size: 1.25em;
}

.individual-project-content{
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 5%;
    padding: 3%;
    margin-bottom: 5%;
}

.project-content > hr{
    width: 80%;
    color: wheat;
}

.project-images{
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-name > h3{
    font-size: 2em;
    width: 100%;
    color: wheat;
}

.project-name > p{
    font-size: 1.13em;
    width: 100%;
}

.back-button{
    position: fixed;
    top: 2em;
    left: 0px;
    padding: 20px;
    text-decoration: none;
    font-size: 1.3em;
    color: white;
}

.row3 > h4{
    font-size: 2em;
    display: flex;
    justify-content: center;
    color: white;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: white;
}

.tech-tag {
    background-color: #8d89a7;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.5625em;
}