.nav_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    background-color: rgba(10, 15, 24, 0.8);;
    height:70px;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0 1.5rem;
}

.navbar{
    display: flex;
    justify-content: center;
}

.logo-span {
    color: var(--primary);
}

a.active , a{
    color: white;
}

.nav-links-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links-list-element{
    display: flex;
    text-decoration: none;
    color: wheat;
    font-size: 19px;
    margin: 0 10px;   
}


.nav-links-list-element:hover{
    text-decoration: underline;
    color: rgb(22, 136, 128);
}