.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #131313;
    /* margin-top: 30px; */
}

.main-up{
    padding: 30px 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 10px;
}

.footer-list{
    list-style: none;
}

.footer-list li{
    margin: 20px;
    display: flex;
}

.footer-list li span{
    margin-left: 10px;
}

.logo h1{
    font-size: 60px;
}

.footer hr{
    width: 100%;
    border-radius: 30px;
    color: white;
    margin-top: 30px;
    padding: 0;
}

.footer-list p{
    font-size: 20px;
}

.contact-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-heading{
    font-size: 32px;
    margin: 0;
    padding: 0;
}

.contact-description{
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.footer-list li a{
    color: white;
}

.footer-list li a:hover{
    text-decoration: underline;
}