.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #131313;
}

.main-up{
    padding: 90px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-up > p{
    font-size: 30px;
}

.contact-heading{
    color:#888888;    
    text-shadow: 1px 0 #888888;
    letter-spacing:1px;
    font-weight:bold;
}

.contact-description{
    color: #e4e2e2;
}

.footer > hr{
    width: 30%;
}

@media screen and (max-width:412px) {
    .main-up > p{
        font-size: 14px;
    }
    
}