.project-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #131313;
    padding-top: 110px;
}



.project-list-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.project-card li{
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    margin: 20px 50px;
    height: 35em;
    width: 25em;
    color: white;
}

.carousel-list{
    display: flex;
    width: 60%;
    justify-content: center;
}

.project-list{
    display: flex;
    align-items: center;
    overflow: hidden;
    scroll-behavior: smooth;
    list-style: none;
    padding: 0;
}

.btns{
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
    width: 15%;
}

.btns button{
    background-color: transparent;
    border: none;
}

.btns button:hover{
    cursor: pointer;
}

.btns img{
    height: 40px;
    width: 40px;
}



.project-card :hover{
    opacity: 1;
    background-color: blue;
    transform: scale(1.1);
    border: none;
    transition: all 700ms;
}
