.project-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 150px;
    margin-bottom: 100px;
}

.description{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.description h2{
    font-size: 102px;
}

.project-list-div{
    display: grid;
    /* height: 30em; */
    grid-template-columns: auto auto auto;
    /* overflow: hidden; */
}


.project-list-div div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 20px 50px;
    height: 30em;
    width: 20em;
}

.project-list-div div p{
    font-size: 20px;
}