/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.main{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    margin: 80px 0;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 102px;
    height: 100%;
}


.carousel{
    display: flex;
    width:50%;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* border: 1px solid black; */
}

.row-list{
    display: flex;
    height: 100%;
    width: 670px;
    list-style: none;
    overflow: hidden;
    scroll-behavior: smooth;
    align-items: center;
    
}

.row-list div{
    display: flex;
    border: 1px solid black;
    margin: 3px 10px;
    height: 70px;
    width: 190px;
    justify-content: center;
    align-items: center;
}

.row-list div p{
    width:100px;
}

.skill-card{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
