.contact-main-div{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.holder-div{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    top: 160px;
    margin-bottom: 60px;
    width: 60%;
    background-color: #131313;
    border: 1px solid white;
}



.form-div{
    display: flex;
    justify-content: center;
    width: 87%;
    height: 78vh;
    margin-bottom: 40px;
    border-radius: 20px;
    border: 1px solid wheat;
    color: aliceblue;
}

.contact-link-list{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.contact-links{
    display: flex;
    width: 100%;
}

.contact-link-list li{
    margin: 40px 0;
    color: rgb(150, 8, 232);
    font-size: 40px;
    outline: 10px solid rgb(47, 47, 47);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 80%;
    height: 105px;
    background-color: rgb(0, 0, 0);
}

.contact-link-list a{
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.label-contact{
    background: linear-gradient(to right, #FF206E, #FBFF12);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip:text ;
    font-size: 60px;
    margin: 0;
}

.label2-contact{
    background: linear-gradient(to right, #FF206E, #FBFF12);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip:text ;
    margin: 4px 0;
    font-size: 40px;
}


.contact-form{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.contact-form label{
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 4px;
}

.contact-form input ,textarea{
    height: 40px;
    font-size: 22px;
    background-color: antiquewhite;
    border: none;
    border-radius: 3px;
}

.contact-form textarea{
    height: 165px;
}

.contact-form button{
    margin-top: 30px;
    height: 47px;
    font-size: 20px;
    width: 26%;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #FF206E, #FBFF12);
    color: black;
    font-weight: 900;
    font-size: 25px;
}