.project-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #131313;
    padding: 0px 170px;
}

.project-list-row-2{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.col{
    border: 1px solid white;
    margin: 20px;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col:hover{
    transform: scale(1.03);
}

.col > h4 p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.col > h4{
    font-size: 24px;
    margin: 10px 0px;
    width: 100%;
    
}
.col > p{
    font-size: 20px;
    margin: 0;
    padding: 0 20px;
    margin-bottom: 20px;
}

.project_links{
    color: white;
    margin: 0;
    padding: 0;
}

.project_links:hover{
    color: wheat;
}
.heading-project{
    font-size: 92px;
    background: linear-gradient(to right, #FF206E, #FBFF12);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip:text ;
    padding: 20px;
  
}

/* 1374 x 915 */
@media screen and (max-width: 1375px) {

    .project-list-row-2{
        grid-template-columns: auto;
    }
    
}

@media screen and (max-width: 412px) {
    .heading-project{
        font-size: 45px;
    }

    .col > h4{
        font-size: 14px;
        margin: 10px 0px;
    }
    .col > p{
        font-size: 12px;
        margin: 0;
        padding: 0 20px;
        margin-bottom: 20px;
    }
    .col > img{
        width: 330px;
        height: 230px;
    }

    .col{
        overflow: hidden;
    }
}