.container{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    height: 700px;
    background-color: white;
    
}

.intro{
    display: flex;
    border-radius: 15px;
    position: fixed;
    height: 80%;
    align-items: center;
    text-align: center;
    position: absolute;
    font-size: 30px;
    width: 80%;
    background-color: whitesmoke;
}



.para{
    justify-content: center;
    align-items: center;
}

.para h4, h3, p{
    display: flex;
    align-items: flex-start;
    margin: 0 0;
}

.para h3{
    font-size: 70px;
}

.para h4{
    font-size: 20px;
    backdrop-filter: blur(3px);
    display: inline;
    align-items: flex-start;
}

