.container{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 1000px;
}

/* .intro{
    display: flex;
    border-radius: 50%;
    position: absolute;
    height: 600px;
    width: 600px;
    background-color: rgb(195, 192, 192);
    z-index: -1;
    filter: blur(100px);
    -webkit-filter: blur(100px);
} */

.text-div{
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 64%;
}

.imagepfp{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagepfp img{
    height: 400px;
}

.greetings{
    font-size: 120px;
    font-weight: 900;
    margin: 0;
    background: linear-gradient(to right, #FF206E, #FBFF12);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip:text ;
}

.self-name {
    color: rgb(248, 87, 29);
    font-size: 59px;
    font-weight: 900;
    margin: 0;
}

.self-desigination{
    color: rgb(142, 12, 248);
    font-size: 43px;
    font-weight: 400;
    margin: 0;
}







